.wrapper_with_padding
	#docs.clearfix
		- unless @docs.blank?
			- @docs.each do |doc|
				%a{href: (url_for [doc])}
					.doc
						%h2= doc.title
						%p= time_ago_in_words(doc.created_at)
						%p= truncate(doc.content, length:50)
		- else
			%h2 create Doc!
			%p Start Creating Documents & Organizing your life
			%button= link_to "create Doc", new_doc_path